#Server Configuration

PORT=5000

# MongoDB Configuration
# Replace with your actual username, password, host, port, and database

MONGO_URI=mongodb://<username>:<password>@<host>:<port>/<database>?authSource=admin

# JWT / Authentication

ACCESS_TOKEN_SECRET=98ihih314u4uyg2424gug4yuyu4uy4giu4i1i4u14i1h4iu
REFRESH_TOKEN_SECRET=124hiuh4iu1h4h14h14i1h4o1h4ih1i4h1io2h4io114n
ACCESS_TOKEN_EXPIRY=30m
REFRESH_TOKEN_EXPIRY=60d